<div class="container">
  <% @messages.each do |message| %>
  <div class="row">
    <div class="col-5">
    <% if message.body %>
      <div class="notification">
        <%= image_tag message.user.profile.photo, class: "avatar-large" %>
        <div class="notification-content">
          <p><small><%= message.user.profile.username %></small></p>
          <p><%= message.body %></p>
        </div>
      </div>
    </div>
  </div>
  <% end %>
  <% end %>

  <div class="row">
    <div class="col-5">
      <%= simple_form_for [@conversation, @message] do |f| %>
      <div class="field">
        <%= f.text_area :body, placeholder: "Your message" %>
      </div>
      <%= f.submit "Send" %>
      <% end %>
    </div>
  </div>
</div>
