
<div class="main-container">
      <div class="left-panel-container">
        <div class="dashboard-container">
          <h2>DASHBOARD</h2>
          <div class="welcome">
            <p>Hello Current User....</p>
          </div>
          <div class="stats">
            <div class="bets-so-far">
              <div>
                <h2>Won to date</h2>
                <p>€ 300,00</p>
              </div>
            </div>
            <div class="bets-so-far">
              <div>
                <h2>Spent to date</h2>
                <p>€ 5,00</p>
              </div>
            </div>
            <div class="bets-so-far">
              <div>
                <h2>Account Balance</h2>
                <p>€ 295,00</p>
              </div>
            </div>
          </div>
        </div>
        <div class="groups-bet-container">
          <h2>MY GROUPS</h2>
          <div class="bet-card-container">

              <div class="bet-card">
                <div>
                  <div class="group-logo">
                    <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png", class: "avatar-group-logo", alt: "avatar" %>
                  </div>
                  <div>
                    <h2>Le Wagon</h2>
                    <p>1 Members have bets so far!</p>
                    <div class="users-avatar-container">
                      <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="user-avatar avatar-bordered" />
                    </div>
                  </div>
                </div>
                <div>

                </div>
              </div>

              <div class="bet-card">
                <div>
                  <h2>Group Name</h2>
                  <p>100 Members have bets so far!</p>
                </div>
              </div>

              <div class="bet-card">
                <div>
                  <h2>Group Name</h2>
                  <p>100 Members have bets so far!</p>
                </div>
              </div>

              <div class="bet-card">
                <div>
                  <h2>Group Name</h2>
                  <p>100 Members have bets so far!</p>
                </div>
              </div>

          </div>
        </div>
      </div>
    <div class="right-panel-container">
      <div class="profile">
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar" %>
       <div class="profile-card">

       </div>
      </div>
    </div>
</div>































































































































































































































































































































































































































































































<!-- Begins Tiago work.... -->
<main class="container">


  <section class="container">
    <h1>User Dashboard</h1>
    <p>path /dashboard (have to logon first)</p>
    <p>profiles#dashboard</p>
  </section>


  <section class="container border border-success  mb-1">
    here is main content for this page
    <div class="row border-primary mb-1">
      <div class="col-sm border border-danger m-1">
        this is the main content column
      </div>
      <div class="col-sm-4 border border-danger m-1">
        this is the sidebar column

        <div class="border border-primary m-1">
          here is the user info we have in the database</br>
          - email cames from user table</br>
          - the rest cames from the profiles table</br>

          <a href="#" class="badge badge-info float-right">Edit</a>

          <div class="profile-info">
            <p>Name: <%= @profile.first_name %></p>
            <p>Surname: <%= @profile.last_name %></p>
            <p>Username: <%= @profile.username %></p>
            <p>UserID: <%= @profile.user_id %></p>
            <p>Birthday: <%= @profile.date_of_birth %></p>
            <p>NIF: <%= @profile.nif %></p>
            <p>Bio: <%= @profile.bio %></p>
            <p>Email: <%= @user.email %></p>
          </div>

          <div class="profile-form d-none">
            <%= render 'shared/profile_form', profile: @profile %>
          </div>



        </div>

      </div>

    </div>


  </section>

<!--

  <section class="container border border-success  mb-1">

    <div class="row border-primary mb-1">
      <div class="col-sm">
        One of three columns
      </div>
      <div class="col-sm">
        One of three columns
      </div>
      <div class="col-sm">
        One of three columns
      </div>
    </div>

  </section>
 -->


</main>