<!-- main content-->
<main class="container-fluid">

<!-- 1st section -->
  <section class="container-fluid">
    <div class="row">

<!-- left section -->
      <div class="col p-5">

<!-- 1st row = dashboard title -->
        <div class="row text-white pb-3 ">
          <div class="col">
            <h3>DASHBOARD</h3>
          </div>
        </div>

<!-- 2nd row = banner countdown to next drow -->
        <div class="row mb-5 bg-secondary dash-banner myradius">
          <div class="col text-center">
            <%= image_tag "dash-banner-img.png", class: "w-50 m-4" %>
          </div>

          <div class="col text-center text-secondary">
            <div class="p-3">
              <h2 class="block m-0">EUROMILLIONS</h2>
              <h4 class="block m-0">Jackpot Draw</h4>

              <p class="block golden-base golden m-0">€43.000.000</p>
              <!-- <h2> <i class="fas fa-clock">02h 53m 35s</i></h2> -->
              <h5 class="block m-0 text-white"><%= @draws.last.draw_date.strftime('%A, %b %d %Y') %></h5>
            </div>
          </div>

        </div>

<!-- 3rd row = 3 cards with stats -->
        <div class="row text-white pb-5">
          <!-- card left -->
          <div class="shadow-pop-tr col bg-info myradius pt-3 pb-3 mr-3">
            <div class="row">
              <!-- card left col -->
              <div class="col-3">
                <i class="fas fa-trophy large-icon text-secondary"></i>
              </div>
              <!-- card right col -->
              <div class="col">
                <p class="text-dark pt-1">Won so far</p>
                <h5 class="text-dark font-weight-bold">3.067,02€</h5>
              </div>
            </div>
          </div>
          <!-- card center -->
          <div class="shadow-pop-tr col bg-secondary myradius pt-3 pb-3 mr-3">
            <div class="row">
              <!-- card left col -->
              <div class="col-3">
                <i class="fas fa-hand-holding-usd large-icon text-info"></i>
              </div>
              <!-- card right col -->
              <div class="col">
                <p class="pt-1">Spent so far</p>
                <h5 class="font-weight-bold">1.023,50€</h5>
              </div>
            </div>
          </div>
          <!-- card right -->
          <div class="shadow-pop-tr col bg-secondary myradius pt-3 pb-3">
            <div class="row">
              <!-- card left col -->
              <div class="col-3">
                <i class="fas fa-piggy-bank large-icon text-info"></i>
              </div>
              <!-- card right col -->
              <div class="col">
                <p class="pt-1">Account balance</p>
                <h5 class="font-weight-bold">2.043,52€</h5>
              </div>
            </div>
          </div>
        </div>

<!-- 4th row = my groups title -->
        <div class="row text-white pb-3">
          <div class="col">
            <h3>MY GROUPS</h3>
            <%= link_to groups_path, class: "nav-link" do %>
            <% end %>
          </div>
        </div>

<!-- 5ft row = group list -->
          <div class="pb-3">
            <% @groups.each do |group| %>
              <div class="shadow-pop-tr row bg-secondary text-white mb-3 mt-2 p-3 myradius" id='group-dashboard'>
                <!-- 1st column = logo -->
                <div class="col-1 text-center p-0 pt-1">
                  <%= link_to group_path(group) do %>
                    <% if group.photo.attached? %>
                      <%= cl_image_tag group.photo.key , class: "avatar-small-square" %>
                    <% end %>
                  <% end %>
                </div>
                <!-- 2nd column = name and more -->
                <div class="col-3 p-0 pl-3 pt-2 ">
                  <%= link_to group_path(group), class: "text-white " do %>
                    <h5 class="mb-0 text-white "><%= group.name %></h5>
                  <% end %>
                  <p class="mb-1 p-small"><%= group.bets.count %> members have bets so far!</p>
                  <!-- group members avatars -->
                  <ul class="list-unstyled list-inline">
                    <% group.profiles.each do |profile| %>
                      <li class="list-inline-item ">
                        <a href="#" class="tooltip-toggle" aria-label="<%= profile.first_name %> <%= profile.last_name %>" tabindex="0">
                          <% if profile.photo.attached? %>
                            <%= cl_image_tag profile.photo.key , class: "avatar-xs" %>
                          <% end %>
                        </a>
                      </li>
                    <% end %>
                  </ul>
                </div>
                <!-- 3nd column = form -->
                <div class="col p-0 pl-3 pt-3 ">
                  <p class="mb-1 p-small">Chose your bet</p>
                    <!-- start form -->
                  <%= simple_form_for Bet.new, url: bets_path(group_id: group), method: :post, class: "" do |f| %>
                    <div class="form-row align-items-center">
                      <% 1.upto(5) do |nr| %>
                        <%= render 'shared/bet_fields/bet_numbers', nr: nr %>
                      <% end %>

                      <% 1.upto(2) do |nr| %>
                        <%= render 'shared/bet_fields/bet_stars', nr: nr %>
                      <% end %>

                      <div class="row d-block mt-n3">
                        <div class="col text-center">
                          <button type="submit" class="bg-transparent border-0 mt-n3">
                            <span class="fa-stack">
                              <i class="fas fa-circle fa-stack-lg text-white"></i>
                              <i class="fas fa-check-circle fa-lg fa-stack-1x fa-inverse text-success"></i>
                            </span>
                          </button>
                        </div>
                        <div class="col text-center ">
                          <button type="reset" class="bg-transparent border-0 mt-n3">
                            <span class="fa-stack">
                              <i class="fas fa-circle fa-stack-2x text-secondary"></i>
                              <i class="fas fa-times-circle fa-lg fa-stack-1x fa-inverse bet-buttons"></i>
                            </span>
                          </button>
                        </div>
                      </div>

                    </div>
                  <% end %>

                </div>
              </div>
            <% end %>
          </div>

      </div>
      <!-- END left section -->

<!-- right section -->
      <div class="col-3 bg-secondary pt-3">

<!-- 1st row = profile info -->
        <div class="text-white bg-info p-3 mb-5 myradius" >
          <div class="row text-center pb-4">
            <div class="col">
              <% if  user_signed_in? && current_user.profile? && current_user.profile.photo.attached? %>
                <h4 class="pt-2 ">
                  <%= current_user.profile.username %>
                </h4>
              <% else %>
                <h4 class="pt-2"><%= current_user.email %></h4>
              <% end %>
            </div>
            <div class="col-2">
             <% if  user_signed_in? && current_user.profile? && current_user.profile.photo.attached? %>
              <%= cl_image_tag current_user.profile.photo.key, class: "avatar float-right" %>
             <% else %>
              <img src="https://icons.iconarchive.com/icons/custom-icon-design/flatastic-4/256/User-orange-icon.png" alt="placeholder" class='avatar'>
             <% end %>
            </div>
          </div>

          <div class="row">
            <div class="col text-center text-light shadow-sm shadow-inset-center">
              <i class="fas fa-user-edit medium-icon-icon mt-2"></i>
              <p class="p-small">Me</p>
            </div>

            <div class="col text-center text-light shadow-sm shadow-inset-center">
              <i class="fas fa-comment-alt medium-icon mt-2"></i>
              <p class="p-small">Messages</p>
            </div>

            <div class="col text-center text-light shadow-sm shadow-inset-center">
              <i class="fas fa-envelope medium-icon mt-2"></i>
              <p class="p-small">Notifications</p>
            </div>
          </div>
        </div>

<!-- 2nd row = last transactions -->
        <div class="text-white myradius" >
          <div class="row mb-5">
            <div class="col">
              <h3 class="text-center pb-3">MY BETS</h3>
              <!-- each transaction -->
              <ul class="p-0">
                <% @bets.each do |bet| %>
                  <li class="shadow-drop-center list-inline text-center mb-5">
                    <%= link_to group_path(bet.group), class: "text-white " do %>
                      <p class="mt-4"><%= bet.group.name %></p>
                    <% end %>
                    <p class="p-small"> (<%= bet.created_at.strftime('%a, %b %d %Y') %>)</p>
                    <% bet.numbers.each do |number| %>
                      <div class='number-circle list-inline-item mb-3'><%= number %></div>
                    <% end %>
                    <% bet.stars.each do |stars| %>
                      <div class='number-star list-inline-item mb-3'><%= stars %></div>
                    <% end %>
                    <% if !@orders.where(bet: bet)[0].nil? %>
                      <span class='btn badge badge-warning ml-2' role="button" data-toggle="collapse" href='<%= "#collapseOrder#{@orders.where(bet: bet)[0].id}" %>' aria-expanded="false" aria-controls="collapseOrder"> <br> <%= @orders.where(bet: bet)[0].state.capitalize %></span>
                      <div class="collapse" id='<%= "collapseOrder#{@orders.where(bet: bet)[0].id}" %>'>
                        <div>
                          <%= render 'shared/order_show'.html_safe, order: @orders.where(bet: bet)[0] %>
                        </div>
                      </div>
                    <% elsif bet.payed == false %>
                      <%= form_tag orders_path do %>
                        <%= hidden_field_tag 'bet_id', bet.id %>
                        <%= submit_tag 'Pay', class: "btn badge-pill btn-danger m-2 w-50" %>
                      <% end %>
                    <% end %>
                  </li>
                <% end %>
              </ul>

            </div>
          </div>
        </div>

      </div>
      <!-- END left section -->

    </div>
    <!-- END initial row -->
  </section>
</main>

