<!-- main content-->
<main class="container-fluid">

<!-- 1st section -->
  <section class="container-fluid">
    <div class="row">

<!-- left section -->
      <div class="col p-5">

<!-- 1st row = dashboard title -->
        <div class="row text-white pb-3 ">
          <div class="col">
            <h3>DASHBOARD</h3>
          </div>
        </div>

<!-- 2nd row = banner countdown to next drow -->
        <div class="row text-white pb-5 ">
          <div class="col text-center bg-secondary text-white myradius">
            <h3><%= @draws.last.draw_date.strftime("%A") %></h3>
            <h2>EUROMILLIONS</h2>
            <h3>43.300.000€</h3>
            <h2> <i class="fas fa-clock">02h 53m 35s</i></h2>
          </div>
        </div>

<!-- 3rd row = 3 cards with stats -->
        <div class="row text-white pb-5">
          <!-- card left -->
          <div class="col bg-info myradius pt-3 pb-3 mr-3">
            <div class="row">
              <!-- card left col -->
              <div class="col-3">
                <i class="fas fa-trophy large-icon text-secondary"></i>
              </div>
              <!-- card right col -->
              <div class="col">
                <p class="text-dark pt-1">Won so far</p>
                <h5 class="text-dark font-weight-bold">3.000,00€</h5>
              </div>
            </div>
          </div>
          <!-- card center -->
          <div class="col bg-secondary myradius pt-3 pb-3 mr-3">
            <div class="row">
              <!-- card left col -->
              <div class="col-3">
                <i class="fas fa-hand-holding-usd large-icon text-info"></i>
              </div>
              <!-- card right col -->
              <div class="col">
                <p class="pt-1">Spent so far</p>
                <h5 class="font-weight-bold">3.000,00€</h5>
              </div>
            </div>
          </div>
          <!-- card right -->
          <div class="col bg-secondary myradius pt-3 pb-3">
            <div class="row">
              <!-- card left col -->
              <div class="col-3">
                <i class="fas fa-piggy-bank large-icon text-info"></i>
              </div>
              <!-- card right col -->
              <div class="col">
                <p class="pt-1">Account balance</p>
                <h5 class="font-weight-bold">3.000,00€</h5>
              </div>
            </div>
          </div>
        </div>

<!-- 4th row = my groups title -->
        <div class="row text-white pb-3">
          <div class="col">
            <h3>My Groups</h3>
          </div>
        </div>

<!-- 5ft row = group list -->
          <div class="pb-3">
            <% @groups.take(5).each do |group| %>
              <div class="row bg-secondary text-white mb-3 mt-2 p-3 myradius">
                <!-- 1st column = logo -->
                <div class="col-1 text-center p-0 pt-1">
                  <%= link_to group_path(group) do %>
                    <% if group.photo.attached? %>
                      <%= cl_image_tag group.photo.key , class: "avatar-small-square" %>
                    <% end %>
                  <% end %>
                </div>
                <!-- 2nd column = name and more -->
                <div class="col-3 p-0 pl-3 pt-2 ">
                  <%= link_to group_path(group), class: "text-white " do %>
                    <h5 class="mb-0 text-white "><%= group.name %></h5>
                  <% end %>
                  <p class="mb-1 p-small"><%= group.bets.count %> members have bets so far!</p>
                  <!-- group members avatars -->
                  <ul class="list-unstyled list-inline">
                    <% group.profiles.each do |profile| %>
                      <li class="list-inline-item ">
                        <a href="#" class="tooltip-toggle" aria-label="<%= profile.first_name %> <%= profile.last_name %>" tabindex="0">
                          <% if profile.photo.attached? %>
                            <%= cl_image_tag profile.photo.key , class: "avatar-xs" %>
                          <% end %>
                        </a>
                      </li>
                    <% end %>
                  </ul>
                </div>
                <!-- 3nd column = form -->
                <div class="col p-0 pl-3 pt-3 ">
                  <p class="mb-1 p-small">Chose your bet</p>
<!-- start form -->
                  <%= simple_form_for Bet.new, url: bets_path(group_id: group), method: :post, class: "" do |f| %>
                    <div class="form-row align-items-center">
                      <% 1.upto(5) do |nr| %>
                        <%= render 'shared/bet_fields/bet_numbers', nr: nr %>
                      <% end %>

                      <% 1.upto(2) do |nr| %>
                        <%= render 'shared/bet_fields/bet_stars', nr: nr %>
                      <% end %>

                      <div class="row d-block mt-n3">
                        <div class="col text-center">
                          <button type="submit" class="bg-transparent border-0 mt-n3">
                            <span class="fa-stack">
                              <i class="fas fa-circle fa-stack-lg text-white"></i>
                              <i class="fas fa-check-circle fa-lg fa-stack-1x fa-inverse text-success"></i>
                            </span>
                          </button>
                        </div>
                        <div class="col text-center ">
                          <button type="reset" class="bg-transparent border-0 mt-n3">
                            <span class="fa-stack">
                              <i class="fas fa-circle fa-stack-2x text-secondary"></i>
                              <i class="fas fa-times-circle fa-lg fa-stack-1x fa-inverse bet-buttons"></i>
                            </span>
                          </button>
                        </div>
                      </div>

                    </div>
                  <% end %>

                </div>
              </div>
            <% end %>
          </div>

      </div>
      <!-- END left section -->

<!-- right section -->
      <div class="col-3 bg-secondary pt-3">

<!-- 1st row = profile info -->
        <div class="text-white bg-info p-3 mb-5 myradius" >
          <div class="row text-center pb-4">
            <div class="col">
              <% if  user_signed_in? && current_user.profile? && current_user.profile.photo.attached? %>
                <h5 class="pt-2">
                  <%= current_user.profile.first_name  %>
                  <%= current_user.profile.last_name %>
                </h5>
              <% else %>
                <h4 class="pt-2">username</h4>
              <% end %>
            </div>
            <div class="col-2">
             <% if  user_signed_in? && current_user.profile? && current_user.profile.photo.attached? %>
              <%= cl_image_tag current_user.profile.photo.key, class: "avatar float-right" %>
             <% else %>
              <img src="https://icons.iconarchive.com/icons/custom-icon-design/flatastic-4/256/User-orange-icon.png" alt="placeholder" class='avatar'>
             <% end %>
            </div>
          </div>

          <div class="row">
            <div class="col text-center">
              <i class="fas fa-user-edit medium-icon-icon"></i>
              <p class="p-small">Me</p>
            </div>

            <div class="col text-center">
              <i class="fas fa-comment-alt medium-icon"></i>
              <p class="p-small">Messages</p>
            </div>

            <div class="col text-center">
              <i class="fas fa-envelope medium-icon"></i>
              <p class="p-small">Notifications</p>
            </div>
          </div>
        </div>

<!-- 2nd row = last transactions -->
        <div class="text-white myradius" >
          <div class="row mb-5">
            <div class="col">
              <h3 class="text-center pb-3">My Bets</h3>
              <!-- each transaction -->
              <ul class="p-0">
                <% @bets.each do |bet| %>
                  <li class="list-inline mb-5">
                    <%= link_to group_path(bet.group), class: "text-white " do %>
                      <p class="mt-1 mb-0"><%= bet.group.name %></p>
                    <% end %>
                    <p class="mb-1 p-small"> (<%= bet.created_at.strftime('%a, %b %d %Y') %>)</p>
                    <% bet.numbers.each do |number| %>
                      <div class='number-circle list-inline-item'><%= number %></div>
                    <% end %>
                    <% bet.stars.each do |stars| %>
                      <div class='number-star list-inline-item'><%= stars %></div>
                    <% end %>
                  </li>
                <% end %>
              </ul>

            </div>
          </div>
        </div>

      </div>
      <!-- END left section -->

    </div>
    <!-- END initial row -->
  </section>
</main>




<%#= render 'shared/footer' %>













<!-- <div class="main-container">
      <div class="left-panel-container">
        <div class="dashboard-container">
          <h2>DASHBOARD</h2>
          <div class="welcome">
            <p>Hello Current User....</p>
          </div>
          <div class="stats">
            <div class="bets-so-far">
              <div>
                <h2>Won to date</h2>
                <p>€ 300,00</p>
              </div>
            </div>
            <div class="bets-so-far">
              <div>
                <h2>Spent to date</h2>
                <p>€ 5,00</p>
              </div>
            </div>
            <div class="bets-so-far">
              <div>
                <h2>Account Balance</h2>
                <p>€ 295,00</p>
              </div>
            </div>
          </div>
        </div>
        <div class="groups-bet-container">
          <h2>MY GROUPS</h2>
          <div class="bet-card-container">

              <div class="bet-card">
                <div>
                  <div class="group-logo">
                    <%#= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png", class: "avatar-group-logo", alt: "avatar" %>
                  </div>
                  <div>
                    <h2>Le Wagon</h2>
                    <p>1 Members have bets so far!</p>
                    <div class="users-avatar-container">
                      <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="user-avatar avatar-bordered" />
                    </div>
                  </div>
                </div>
                <div>

                </div>
              </div>

              <div class="bet-card">
                <div>
                  <h2>Group Name</h2>
                  <p>100 Members have bets so far!</p>
                </div>
              </div>

              <div class="bet-card">
                <div>
                  <h2>Group Name</h2>
                  <p>100 Members have bets so far!</p>
                </div>
              </div>

              <div class="bet-card">
                <div>
                  <h2>Group Name</h2>
                  <p>100 Members have bets so far!</p>
                </div>
              </div>

          </div>
        </div>
      </div>
    <div class="right-panel-container">
      <div class="profile">
        <%# if current_user.profile.photo.attached? %>
        <%#= cl_image_tag current_user.profile.photo.key, class: 'avatar' %>
        <%# else %>
        <img src="https://icons.iconarchive.com/icons/custom-icon-design/flatastic-4/256/User-orange-icon.png" alt="placeholder" class='avatar'>
        <%# end %>
       <div class="profile-card">
        empty
       </div>
      </div>
    </div>
</div>
 -->
































































































































































































































































































































































































































































































<!--



 <main class="container">


  <section class="container">
    <h1>User Dashboard</h1>
    <p>path /dashboard (have to logon first)</p>
    <p>profiles#dashboard</p>
  </section>


  <section class="container border border-success  mb-1">
    here is main content for this page
    <div class="row border-primary mb-1">

      <div class="col-sm border border-danger m-1">
        this is the main content column
      </div>

      <div class="col-sm-4 border border-danger m-1">
        this is the sidebar column

        <div class="border border-primary m-1">
          here is the user info we have in the database</br>
          - email cames from user table</br>
          - the rest cames from the profiles table</br>

          <div id="profile-info">
            <button type="button" class="badge badge-info float-right" ">Edit</button>
            <p>Username: <%#= @profile.username %></p>
            <%# if current_user.profile.photo.attached? %>
            <%#= cl_image_tag current_user.profile.photo.key, class: 'avatar' %>
            <%# else %>
            <img src="https://icons.iconarchive.com/icons/custom-icon-design/flatastic-4/256/User-orange-icon.png" alt="placeholder" class='avatar'>
            <%# end %>
            <p>Name: <%= current_user.profile.first_name %></p>
            <p>Surname: <%= current_user.profile.last_name %></p>
            <p>Birthday: <%#= @profile.date_of_birth %></p>
            <p>Bio: <%#= @profile.bio %></p>
            <p>NIF: <%#= @profile.nif %></p>
            <p>Email: <%#= @user.email %></p>
          </div>

          <div id="profile-form" class="">
            <%= render 'shared/profile_form', profile: @profile %>
          </div>

        </div>

      </div>

    </div>

  </section>


<div class="group-pic">
  <p>created by: <%#= @group.user.profile.username %></p>
  <%# if @group.photo.attached? %>
    <%# if !@group.users.include?(current_user) && @group.user != current_user %>
      <%#= cl_image_tag @group.photo.key, class: 'rounded' %>
      <%#= link_to 'Join', group_path(@group) , method: :put , class: 'btn btn-primary' %>
    <%# else %>
    <%# elsif @group.user != current_user %>
      <img src="https://pt.seaicons.com/wp-content/uploads/2015/11/App-Group-cobfig-icon.png" alt="placeholder-photo">
      <%#= link_to 'Leave', group_path(@group), method: :delete, class: 'btn btn-danger' %>
    <%#end %>
  <%# end %>
</div>




  <section class="container border border-success  mb-1">

    <div class="row border-primary mb-1">
      <div class="col-sm">
        One of three columns
      </div>
      <div class="col-sm">
        One of three columns
      </div>
      <div class="col-sm">
        One of three columns
      </div>
    </div>

  </section>



</main>
 -->
