


















































































































































































































































































































































































































































































































<!-- Begins Tiago work.... -->
<main class="container">

  <section class="container">
    <h1>User Dashboard</h1>
    <p>path /dashboard (have to logon first)</p>
    <p>profiles#dashboard</p>
  </section>


  <section class="container border border-success  mb-1">
    here is main content for this page
    <div class="row border-primary mb-1">

      <div class="col-sm border border-danger m-1">
        this is the main content column
      </div>

      <div class="col-sm-4 border border-danger m-1">
        this is the sidebar column

        <div class="border border-primary m-1">
          here is the user info we have in the database</br>
          - email cames from user table</br>
          - the rest cames from the profiles table</br>

          <a href="#" class="badge badge-info float-right">Edit</a>

          <div class="profile-info">
            <p>Name: <%= @profile.first_name %></p>
            <p>Surname: <%= @profile.last_name %></p>
            <p>Username: <%= @profile.username %></p>
            <p>UserID: <%= @profile.user_id %></p>
            <p>Birthday: <%= @profile.date_of_birth %></p>
            <p>NIF: <%= @profile.nif %></p>
            <p>Bio: <%= @profile.bio %></p>
            <p>Email: <%= @user.email %></p>
          </div>

          <div class="profile-form">
            <%= render 'shared/profile_form', profile: @profile %>
          </div>



        </div>

      </div>

    </div>


  </section>

<!--

  <section class="container border border-success  mb-1">

    <div class="row border-primary mb-1">
      <div class="col-sm">
        One of three columns
      </div>
      <div class="col-sm">
        One of three columns
      </div>
      <div class="col-sm">
        One of three columns
      </div>
    </div>

  </section>
 -->


</main>






