<main class="container-fluid bg-dark">
  <section class="container-fluid ">
    <div class="row">
      <div class="col m-1">

<!-- LEFT SIDE PANEL -->

        <div class="row m-1 text-white">
          <h2>DASHBOARD</h2>
        </div>
        <div class="text-center bg-secondary text-white rounded-lg shadow">
          <h3><%= @draws.last.draw_date.strftime("%A") %></h3>
          <h2>EUROMILLIONS</h2>
          <h3>43.300.000€</h3>
          <h2> <i class="fas fa-clock">02h 53m 35s</i></h2>
        </div>
<!-- STATS -->
        <div class="row text-white ">
          <div class="col bg-warning m-3 p-3 rounded-lg shadow">
            <div class="row">
              <div class="col-2">
                <i class="fas fa-trophy large-icon"></i>
              </div>
              <div class="col text-center">
                <h3>Won so far</h3>
                <h5>300,00</h5>
              </div>
            </div>
          </div>

          <div class="col bg-secondary m-3 p-3 rounded-lg shadow">
            <div class="row">
              <div class="col-2">
                <i class="fas fa-hand-holding-usd large-icon"></i>
              </div>
              <div class="col text-center">
                <h3>Spent so far</h3>
                <h5>300,00</h5>
              </div>
            </div>
          </div>

          <div class="col bg-secondary m-3 p-3 rounded-lg shadow">
            <div class="row">
              <div class="col-2">
                <i class="fas fa-piggy-bank large-icon"></i>
              </div>
              <div class="col text-center ">
                <h3>Account balance</h3>
                <h5>300,00</h5>
              </div>
            </div>
          </div>
        </div>
<!-- ----------------------- -->
        <div class="row m-1 text-white">
          <h2>MY GROUPS | BETS</h2>
        </div>

        <!-- CURRENT_USER GROUPS -->
          <div class="groups-bet-container">
          <% current_user.groups.each do |group| %>
          <div class="row m-1 bg-secondary text-white rounded-lg shadow overflow-auto">
            <div class="col-1 text-center">
              <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png", class: "avatar", alt: "avatar" %>
            </div>
            <div class="col-4">
              <h2><%= group.name %></h2>
              <p><%= group.bets.count %> members have bets so far!</p>
              <ul class="list-unstyled list-inline">
                <li class="list-inline-item">
                  <% if group.users.sample.profile.photo.attached? %>
                  <%= cl_image_tag group.users.sample.profile.photo.key, crop: :thumb, gravity: :face %>
                  <% else %>
                  <img src="https://icons.iconarchive.com/icons/custom-icon-design/flatastic-4/256/User-orange-icon.png" alt="placeholder" class='avatar'>
                  <% end %>
                </li>
                <li class="list-inline-item">
                  <% if group.users.sample.profile.photo.attached? %>
                  <%= cl_image_tag group.users.sample.profile.photo.key, crop: :thumb, gravity: :face %>
                  <% else %>
                  <img src="https://icons.iconarchive.com/icons/custom-icon-design/flatastic-4/256/User-orange-icon.png" alt="placeholder" class='avatar'>
                  <% end %>
                </li>
                <li class="list-inline-item">
                  <% if group.users.sample.profile.photo.attached? %>
                  <%= cl_image_tag group.users.sample.profile.photo.key, crop: :thumb, gravity: :face %>
                  <% else %>
                  <img src="https://icons.iconarchive.com/icons/custom-icon-design/flatastic-4/256/User-orange-icon.png" alt="placeholder" class='avatar'>
                  <% end %>
                </li>
                <li class="list-inline-item">
                  <% if group.users.sample.profile.photo.attached? %>
                  <%= cl_image_tag group.users.sample.profile.photo.key, crop: :thumb, gravity: :face %>
                  <% else %>
                  <img src="https://icons.iconarchive.com/icons/custom-icon-design/flatastic-4/256/User-orange-icon.png" alt="placeholder" class='avatar'>
                  <% end %>
                </li>
              </ul>
            </div>
          <!-- Form Starts here -->
            <%= render 'shared/betting_form' %>
          <!-- Form Ends here -->
          </div>
        </div>
        <% end %>
      </div>

<!-- RIGHT SIDE PANEL -->
      <div class="col-3 ">

        <div class="container text-white bg-warning p-5 rounded-lg shadow" >
          <div class="row card-body ">
            <div class="col">
              <h2><%= @profile.username %> </h2>
            </div>
            <div class="col">
             <% if  user_signed_in? && current_user.profile? && current_user.profile.photo.attached? %>
              <%= cl_image_tag current_user.profile.photo.key, class: "avatar float-right" %>
             <% else %>
              <img src="https://icons.iconarchive.com/icons/custom-icon-design/flatastic-4/256/User-orange-icon.png" alt="placeholder" class='avatar'>
             <% end %>
            </div>
          </div>

          <div class="row">
            <div class="col text-center">
              <i class="fas fa-user-edit medium-icon-icon"></i>
              <p>Me</p>
            </div>

            <div class="col text-center">
              <i class="fas fa-comment-alt medium-icon"></i>
              <p>Messages</p>
            </div>

            <div class="col text-center">
              <i class="fas fa-envelope medium-icon"></i>
              <p>Notifications</p>
            </div>
          </div>
        </div>

        <div class="container text-white bg-secondary p-5 mt-2 rounded-lg shadow" >
          <div class="row card-body ">
            <h3>LATEST BETS</h3>
            <ul>
            <% current_user.bets.each do |bet| %>
              <li class="border border-light rounded-pill bg-dark p-4 my-4">
                <p><%= bet.created_at.strftime('%c') %></p>
                  <% bet.numbers.each do |number| %>
                  <span class='number-circle'><%= number %></span>
                  <% end %>
                  <% bet.stars.each do |stars| %>
                  <span class='number-star'><%= stars %></span>
                  <% end %>
                <% end %>
              </li>
            </ul>
          </div>
        </div>

      </div>
    </div> Tiago work.... -->
 <main class="cont

  </section>
</main>


















<!-- <div class="main-container">
      <div class="left-panel-container">
        <div class="dashboard-container">
          <h2>DASHBOARD</h2>
          <div class="welcome">
            <p>Hello Current User....</p>
          </div>
          <div class="stats">
            <div class="bets-so-far">
              <div>
                <h2>Won to date</h2>
                <p>€ 300,00</p>
              </div>
            </div>
            <div class="bets-so-far">
              <div>
                <h2>Spent to date</h2>
                <p>€ 5,00</p>
              </div>
            </div>
            <div class="bets-so-far">
              <div>
                <h2>Account Balance</h2>
                <p>€ 295,00</p>
              </div>
            </div>
          </div>
        </div>
        <div class="groups-bet-container">
          <h2>MY GROUPS</h2>
          <div class="bet-card-container">

              <div class="bet-card">
                <div>
                  <div class="group-logo">
                    <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png", class: "avatar-group-logo", alt: "avatar" %>
                  </div>
                  <div>
                    <h2>Le Wagon</h2>
                    <p>1 Members have bets so far!</p>
                    <div class="users-avatar-container">
                      <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="user-avatar avatar-bordered" />
                    </div>
                  </div>
                </div>
                <div>

                </div>
              </div>

              <div class="bet-card">
                <div>
                  <h2>Group Name</h2>
                  <p>100 Members have bets so far!</p>
                </div>
              </div>

              <div class="bet-card">
                <div>
                  <h2>Group Name</h2>
                  <p>100 Members have bets so far!</p>
                </div>
              </div>

              <div class="bet-card">
                <div>
                  <h2>Group Name</h2>
                  <p>100 Members have bets so far!</p>
                </div>
              </div>

          </div>
        </div>
      </div>
    <div class="right-panel-container">
      <div class="profile">
        <% if current_user.profile.photo.attached? %>
        <%= cl_image_tag current_user.profile.photo.key, class: 'avatar' %>
        <% else %>
        <img src="https://icons.iconarchive.com/icons/custom-icon-design/flatastic-4/256/User-orange-icon.png" alt="placeholder" class='avatar'>
        <% end %>
       <div class="profile-card">
        empty
       </div>
      </div>
    </div>
</div>
 -->




































































































































































































































































































































































































































































































<!--
 Begins Tiago work.... -->
 <main class="container">


  <section class="container">
    <h1>User Dashboard</h1>
    <p>path /dashboard (have to logon first)</p>
    <p>profiles#dashboard</p>
  </section>


  <section class="container border border-success  mb-1">
    here is main content for this page
    <div class="row border-primary mb-1">

      <div class="col-sm border border-danger m-1">
        this is the main content column
      </div>

      <div class="col-sm-4 border border-danger m-1">
        this is the sidebar column

        <div class="border border-primary m-1">
          here is the user info we have in the database</br>
          - email cames from user table</br>
          - the rest cames from the profiles table</br>

          <div id="profile-info">
            <button type="button" class="badge badge-info float-right" ">Edit</button>
            <p>Username: <%= @profile.username %></p>
            <% if current_user.profile.photo.attached? %>
            <%= cl_image_tag current_user.profile.photo.key, class: 'avatar' %>
            <% else %>
            <img src="https://icons.iconarchive.com/icons/custom-icon-design/flatastic-4/256/User-orange-icon.png" alt="placeholder" class='avatar'>
            <% end %>
            <p>Name: <%= @profile.first_name %></p>
            <p>Surname: <%= @profile.last_name %></p>
            <p>Birthday: <%= @profile.date_of_birth %></p>
            <p>Bio: <%= @profile.bio %></p>
            <p>NIF: <%= @profile.nif %></p>
            <p>Email: <%= @user.email %></p>
          </div>

          <div id="profile-form" class="d-none">
            <%= render 'shared/profile_form', profile: @profile %>
          </div>

        </div>

      </div>

    </div>

  </section>
 -->
<!--
<div class="group-pic">
  <p>created by: <%#= @group.user.profile.username %></p>
  <%# if @group.photo.attached? %>
    <%# if !@group.users.include?(current_user) && @group.user != current_user %>
      <%#= cl_image_tag @group.photo.key, class: 'rounded' %>
      <%#= link_to 'Join', group_path(@group) , method: :put , class: 'btn btn-primary' %>
    <%# else %>
    <%# elsif @group.user != current_user %>
      <img src="https://pt.seaicons.com/wp-content/uploads/2015/11/App-Group-cobfig-icon.png" alt="placeholder-photo">
      <%#= link_to 'Leave', group_path(@group), method: :delete, class: 'btn btn-danger' %>
    <%#end %>
  <%# end %>
</div> -->


<!--

  <section class="container border border-success  mb-1">

    <div class="row border-primary mb-1">
      <div class="col-sm">
        One of three columns
      </div>
      <div class="col-sm">
        One of three columns
      </div>
      <div class="col-sm">
        One of three columns
      </div>
    </div>

  </section>



</main>

