<div class="container">
  <div class="card card-group-new kenburns-top w-50 mx-auto m-5">
    <h2 class='text-center text-white my-5'>Sign up</h2>
  </div>
  <div class="row m-5">
    <div class='col-12 text-center'>
      <div class="form-group bg-light border border-warning p-3 mx-auto m-4 w-50" >
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.input :email,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "email" }%>
            <%= f.input :password,
                        required: true,
                        hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                        input_html: { autocomplete: "new-password" } %>
            <%= f.input :password_confirmation,
                        required: true,
                        input_html: { autocomplete: "new-password" } %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Sign up", class: 'btn btn-info my-2' %>
            <p>or</p>
            <%= link_to "Log in", new_session_path(resource_name), class: 'btn btn-light' %><br/>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<br>
<br>
