<main class="container-fluid">

  <!-- Groups Banner -->
<div class="banner-groups-index " style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1548705085-101177834f47?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80);">
  <div class="container text-center text-white">
    <h1> Create a group and invite your friends to bet!</h1>

<!--     <p> Or <%#= link_to "join", class:'text-decoration-none', :anchor => 'anchor' %> an existing group</p> -->
    <%= link_to 'Create', new_group_path, class: 'btn btn-info btn-gradient rounded mt-5 mb-3 ' %>
    <%#= link_to 'Join', group_path(@group), method:post class: 'btn btn-warning btn-gradient my-5 mx-auto' %>
    <!-- <h3> Or join one of our groups</h3> -->
    <h3> Or join a group</h3>
  </div>
</div>

<!-- ----SEARCH FORM---- -->
<%#= simple_form_for :search, url: root_path, method: :get do |f| %>
  <!-- <div class="search-form-control form-group col-auto orm-inline">
    <input class="form-control string required" type="text" name="search[query]" id="search_query" placeholder="Search for groups" />
    <button name="button" type="submit" class="btn btn-flat">
      <i class="fas fa-search"></i> Search
    </button>
  </div> -->
<%# end %>
<!-- -------------------------- -->


<!-- ----------------LIST OF GROUPS -->

<!-- MY GROUPS -->
<%  if current_user.groups.present? %>
<div class="row text-white pb-3 pt-3 ">
          <div class="col">
            <h2>My Groups</h2>
          </div>
        </div>


  <div class="row">
    <% current_user.groups.each do |group| %>
      <div class="col-6">
        <div class="card mb-3 rounded-lg bg-secondary text-white mt-2 p-3 myradius">
          <% if group.photo.attached? %>
            <%= cl_image_tag group.photo.key,class: 'mx-auto', width: 80, height: 80, crop: :thumb, gravity: :face %>
          <% else %>
          <% random = rand(1..400) %>

            <img class='rounded mx-auto d-block' src="https://robohash.org/<%= random %>" alt="placeholder-photo" style='width:80px'>
          <% end %>
          <div class="mx-auto">
            <p><small class="text-muted"><%= group.privacy %> Group</small></p>
          </div>

          <div class="row pt-3">
            <div class="col-6 pl-5">
              <%= link_to group.name, group_path(group), class: 'card-title' %>
              <p class="card-text "><%= group.description %></p>
              <p class="text-muted">Ongoing Bets: <%= group.bets.where(group: group).count %></p>
            </div>

            <div class="col-6 text-right pr-5">
              <% if group.user == current_user %>
                <%= link_to 'Admin', group_path(group), class: 'btn btn-outline-info mx-auto disabled' %>
              <% elsif current_user.groups.include?(group) %>
                <%= link_to 'Joined', group_path(group), class: 'btn btn-outline-success mx-auto disabled' %>
                <%= link_to 'Leave', group_path(group), method: :delete, data: { confirm: "Are you sure?" }, class: 'text-decoration-none text-danger' %>
              <% else %>
                <%= link_to 'Join', group_path(group),method: :put, class: 'btn btn-info mx-auto btn-gradient' %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<!-- ALL GROUPS -->
<div class="row text-white pb-3 pt-3 ">
  <div class="col">
    <h2 id="anchor" >All Groups</h2>
  </div>
</div>
<div class="row">
  <% @groups.each do |group| %>
   <% unless group.users.include?(current_user) %>
    <div class="col-6">
      <div class="card mb-3 rounded-lg bg-secondary text-white mt-2 p-3 myradius">
        <% if group.photo.attached? %>
          <%= cl_image_tag group.photo.key, class: 'mx-auto', width: 80, height: 80, crop: :thumb, gravity: :face %>
        <% else %>
        <% random = rand(1..400) %>

          <img class='rounded mx-auto d-block' src="https://robohash.org/<%= random %>" alt="placeholder-photo" style='width:80px'>
        <% end %>
        <div class="mx-auto">
          <p><small class="text-muted"><%= group.privacy %> Group</small></p>
        </div>

        <div class="row pt-3">
          <div class="col-6 pl-5">
            <%= link_to group.name, group_path(group), class: 'card-title' %>
            <p class="card-text "><%= truncate(group.description, length: 17) %></p> <%#=h truncate(comment.body, :length => 80) %>
            <p class="text-muted">Ongoing Bets: <%= group.bets.where(group: group).count %></p>
            <ul class=“list-unstyled list-inline”>

 <!--            AVATARS IN GROUP CARD   -->
              <%# group.profiles.each do |profile| %>
                <!-- <li class=“list-inline-item “>
                  <a href=“#” class=“tooltip-toggle” aria-label=“ --><%#= profile.first_name %> <%#= profile.last_name %><!-- ” tabindex=“0"> -->
                    <%# if group.profile.photo.attached? %>
                      <%#= cl_image_tag profile.photo.key , class: “avatar-xs” %>
                    <%# end %>
                <!--   </a>
                </li> -->
              <%# end %>
           <!--  </ul> -->
   <!--         ------------------------ -->
          </div>

          <div class="col-6 text-right pr-5">
            <% if group.user == current_user %>
              <%= link_to 'Admin', group_path(group), class: 'btn btn-outline-info mx-auto' %>
            <% elsif current_user.groups.include?(group) %>
              <%= link_to 'Joined', group_path(group), class: 'btn btn-success mx-auto' %>
              <%= link_to 'Leave', group_path(group), method: :delete, data: { confirm: "Are you sure?" }, class: 'text-decoration-none text-danger' %>
            <% else %>
              <%= link_to 'Join', group_path(group), method: :patch, class: 'btn btn-info mx-auto btn-gradient' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  <% end %>
</div>

<!--  -->


</main>




