<h1>Browse Groups</h1>
<%= link_to 'Create', new_group_path, class: 'btn btn-primary' %>
<ul>
<% @groups.each do |group| %>
  <li><strong><%= group.name %></strong> </li>
  <p><%= group.description %></p>
  <p><%= group.privacy %></p>
  <%= link_to 'View', group_path(group), class: 'btn btn-primary' %>
  <% end %>
</ul>
