<main class="container-fluid">

  <!-- Groups Banner -->
<div class="banner-groups-index " style="background-image: linear-gradient(rgba(254, 197, 74, 0.5),rgba(0,0,0,0.5)), url(https://images.unsplash.com/photo-1548705085-101177834f47?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80);">
  <div class="container text-center text-white">
    <h1> Create a group and invite your friends to bet!</h1>

<!--     <p> Or <%#= link_to "join", class:'text-decoration-none', :anchor => 'anchor' %> an existing group</p> -->
    <%= link_to 'Create', new_group_path, class: 'btn badge-pill btn-lg btn-info mt-4 mb-5 ' %>
    <%#= link_to 'Join', group_path(@group), method:post class: 'btn btn-warning btn-gradient my-5 mx-auto' %>
    <!-- <h3> Or join one of our groups</h3> -->
    <h1> Or join a group</h1>
  </div>
</div>
  <form class='form-group float-right mt-2 mr-3' action="">
    <label class="btn badge-pill btn-light btn-sm mt-2" for=""><strong>Search</strong></label>
    <input placeholder="groups" class="badge-pill " type="text">
  </form>

<!-- ----------------LIST OF GROUPS -->

<!-- MY GROUPS -->
<%  if current_user.groups.present? %>
<div class="row text-white pb-3 pt-3 ">
  <div class="col">
      <h2><strong>My Groups</strong></h2>
  </div>
</div>


  <div class="row ">
    <% current_user.groups.each do |group| %>
      <div class="col-4">
        <div class="card mb-3 rounded-lg bg-secondary text-white mt-2 p-3 myradius shadow-pop-tr">
          <% if group.photo.attached? %>
            <%= cl_image_tag group.photo.key,class: 'mx-auto', width: 80, height: 80, crop: :thumb, gravity: :face %>
          <% else %>
          <% random = rand(1..400) %>

            <img class='rounded mx-auto d-block' src="https://robohash.org/<%= random %>" alt="placeholder-photo" style='width:80px'>
          <% end %>
          <div class="mx-auto">
            <p><small class="text-white-50"><%= group.privacy %> Group</small></p>
          </div>

          <div class="row pt-3">
            <div class="col-8 pl-5">

              <%= link_to group_path(group), class: "text-white " do %>
                <h2 class=" text-white "><%= group.name[0..20] %></h2>
              <% end %>
              <p class="card-text text-white-50"><%= group.description[0..20] %></p>
              <p class="text-info">Ongoing Bets: <%= group.bets.where(group: group).count %></p>
            </div>

            <div class="col-4 text-right mt-5 pr-5">
              <% if group.user == current_user %>
                <%= link_to 'Admin', group_path(group), class: 'btn badge-pill btn-lg btn-outline-info mx-auto disabled' %>
              <% elsif current_user.groups.include?(group) %>
                <%= link_to 'Joined', group_path(group), class: 'btn badge-pill btn-lg btn-outline-success mx-auto disabled' %>
              <% else %>
                <%= link_to 'Join', group_path(group),method: :put, class: 'btn badge-pill btn-info mx-auto btn-gradient' %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<!-- ALL GROUPS -->
<div class="row text-white pb-3 pt-3 ">
  <div class="col">
    <h2 id="anchor" >All Groups</h2>
  </div>
</div>
<div class="row">
  <% @groups.each do |group| %>
   <% unless group.users.include?(current_user) %>
    <div class="col-4">
      <div class="card mb-3 rounded-lg bg-secondary text-white mt-2 p-3 myradius shadow-pop-tr">
        <% if group.photo.attached? %>
          <%= cl_image_tag group.photo.key, class: 'mx-auto', width: 80, height: 80, crop: :thumb, gravity: :face %>
        <% else %>
        <% random = rand(1..400) %>

          <img class='rounded mx-auto d-block' src="https://robohash.org/<%= random %>" alt="placeholder-photo" style='width:80px'>
        <% end %>
        <div class="mx-auto">
          <p><small class="text-white-50"><%= group.privacy %> Group</small></p>
        </div>

        <div class="row pt-3">
          <div class="col-8 pl-5">

             <h2 class='card-title'> <%= group.name[0..20] %></h2>
            <p class="card-text "><%= truncate(group.description, length: 25) %></p> <%#=h truncate(comment.body, :length => 80) %>
            <p class="text-muted">Ongoing Bets: <%= group.bets.where(group: group).count %></p>

            <ul class=“list-unstyled list-inline”>

 <!--            AVATARS IN GROUP CARD   -->
              <%# group.profiles.each do |profile| %>
                <!-- <li class=“list-inline-item “>
                  <a href=“#” class=“tooltip-toggle” aria-label=“ --><%#= profile.first_name %> <%#= profile.last_name %><!-- ” tabindex=“0"> -->
                    <%# if group.profile.photo.attached? %>
                      <%#= cl_image_tag profile.photo.key , class: “avatar-xs” %>
                    <%# end %>
                <!--   </a>
                </li> -->
              <%# end %>
           <!--  </ul> -->
   <!--         ------------------------ -->
          </div>

          <div class="col-4 text-right pr-5">
            <% if group.user == current_user %>
              <%= link_to 'Admin', group_path(group), class: 'btn btn-outline-info mx-auto' %>
            <% elsif current_user.groups.include?(group) %>
              <%= link_to 'Joined', group_path(group), class: 'btn btn-success mx-auto' %>
              <%= link_to 'Leave', group_path(group), method: :delete, data: { confirm: "Are you sure?" }, class: 'text-decoration-none text-danger' %>
            <% else %>
              <%= link_to 'Join', group_path(group), method: :patch, class: 'btn badge-pill btn-lg btn-info mx-auto btn-gradient' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  <% end %>
</div>

<!--  -->


</main>




