<div class="container">
  <h1>Create Group</h1>
  <hr>
  <div class="form-group">
    <%= simple_form_for @group do |f| %>
      <%= f.input :name, label: 'Name of Group' %>
      <%= f.input :description, placeholder: 'A catchy, relevant description' %>
      <%= f.input :public %>
      <%= f.input :photo, as: :file %>
      <%= f.submit "Create", class: "btn btn-primary" %>
      <%= link_to 'Back', groups_path, class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
