<div class="container my-5">
  <div class="img-circle text-center">
    <% if @group.photo.attached? %>
    <%= cl_image_tag @group.photo.key, width: 150, height: 150, crop: :thumb, gravity: :face %>
    <% else %>
    <img src="https://pt.seaicons.com/wp-content/uploads/2015/11/App-Group-cobfig-icon.png" alt="placeholder-photo">
    <% end %>
  </div>
  <div class="text-center">
    <% if !@group.users.include?(current_user) && @group.user != current_user %>
      <%= link_to 'Join', group_path(@group) , method: :patch , class: 'btn btn-lg btn-primary my-5' %>
    <% elsif @group.user != current_user %>
      <%= link_to 'Leave', group_path(@group), method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-lg btn-danger my-5' %>
    <% end %>
    <% if @group.user == current_user && @group.users.count < 2 %>
      <%= link_to 'Leave', group_path(@group), method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-lg btn-danger my-5' %>
    <% elsif @group.user == current_user %>
      <%= link_to 'Resign as Admin', group_path(@group), method: :patch, class: 'btn btn-lg btn-danger my-5' %>
    <% end %>
    <% if @group.user == current_user %>
      <button type="button" class="btn btn-lg btn-success" onclick="displayGroups()">Edit</button>
      <div id="group-form" class="d-none">
        <%= render 'shared/group_form', group: @group %>
      </div>
    <% end %>
    <% if @group.user == current_user || @group.users.include?(current_user) %>
    <br>
  </div>
  <div class="text-center">
    <h1 class='tracking-in-expand-fwd'><%= @group.name %></h1>
    <p class='text-muted'>Admin: <%= @group.user.profile.username %></p>

        <!-- Members -->
    <button class="btn btn-block btn-light dropdown-toggle my-5 heartbeat" type="button" data-toggle="collapse" data-target="#members" aria-expanded="false" aria-controls="members">
     <strong>Members (<%= @group.users.count %>)</strong>
    </button>

    <div class="table-responsive-sm collapse" id='members'>
    <table class="table table-hover table-dark my-5">
      <thead class='thead-dark'>
        <tr>
         <th></th>
         <th scope="col"><strong>Join Date</strong></th>
         <th scope="col"><strong>Username</strong></th>
         <th scope="col"><strong>Bio</strong></th>
         <th scope="col"><strong>Bets on Group</strong></th>
        </tr>
      </thead>
      <tbody>
      <% @group.users.each do |user| %>
       <tr>
         <td><%= cl_image_tag user.profile.photo.key, class: 'avatar' %></td>
         <td><%= @group.group_users.where(user: user, group: @group).first.created_at.strftime('%b %Y') %></td>
         <td><strong><%= user.profile.username %></strong></td>
         <td><%= user.profile.bio %></td>
         <td><%= user.bets.where(group: @group).count %></td>
       </tr>
         <% end %>
      </tbody>
    </table>
    </div>
    <hr class='p-2 my-5'>
    <h4><%= @group.description %></h4>
    <hr>
  </div>

          <!-- Group Bets table -->
  <div class="container my-5">
    <div class="row my-5">
      <div class="col-6">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <i class="fas fa-layer-group"></i>
            <a class="text-dark">Group Bets</a>
          </div>
          <div class="panel-body" id='bets-group'>
            <table class="table table-hover table-dark">
              <thead class='thead-dark'>
                <tr>
                 <th></th>
                 <th scope="col"><strong>User</strong></th>
                 <th scope="col"><strong>Numbers</strong></th>
                 <th scope="col"><strong>Stars</strong></th>
                 <th scope="col"><strong>Date</strong></th>
                </tr>
              </thead>
              <tbody>
            <% @group.bets.each do |bet| %>
              <tr>
                <td><%= cl_image_tag bet.user.profile.photo.key, class: 'avatar' %></td>
                <td><%= bet.user.profile.username %></td>
                <td><%= bet.numbers.join(' - ') %></td>
                <td><strong><%= bet.stars.join(' - ') %></strong></td>
                <td><%= bet.created_at.strftime('%a, %d %b %Y') %></td>
              </tr>
            <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
          <!--    Draws table -->
  <div class="col-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <i class="fas fa-dice"></i>
        <a class="text-dark">Latest Drawings</a>
      </div>
      <div class="panel-body bg-light ">
        <ul class="chat">
          <% @draws.each do |draw| %>
          <li class="d-flex flex-row bd-highlight m-3">
            <img class='avatar mx-3 bd-highlight' src="https://cdn6.aptoide.com/imgs/3/3/e/33e5f1e8d9b06a5fd0dad0a938473d84_icon.png?w=256" alt="euromillions">
            <div class="chat-body text-center mx-3 bd-highlight">
              <strong class='badge badge-pill badge-secondary text-wrap p-2'><%= draw.numbers.join(' - ') %></strong>
              <strong class='badge badge-pill badge-warning text-wrap p-2 mr-4'>
                <span class="fas fa-star"></span><%= draw.stars.first %>
                <span class="fas fa-star"></span><%= draw.stars.second %>
              </strong>
              <small class="bd-highlight ml-4"><span class="fas fa-clock"></span><%= draw.draw_date.strftime('%a, %d %b %Y') %></small>
            </div>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
          <!--   Chat Table -->
    <div class="col-6">
      <div class="panel panel-primary heartbeat">
        <div class="panel-heading">
          <button class="btn btn-block btn-light" id='chat-btn'  type="button" data-toggle="collapse" data-target="#chatter" aria-expanded="false" aria-controls="chatter"><i class="far fa-comment-dots"></i>Chat
        </div>
       <!--  <div class="collapse" id='chatter'> -->
          <div class="panel-body bg-light">
            <hr>
            <% @messages.each do |message| %>
              <% if message.user.present? %>
              <% if message.user.profile.photo.attached? %>
                <%= cl_image_tag message.user.profile.photo.key, class: "avatar float-left m-3" %>
              <% end %>
            </span>
              <div class="chat-body clearfix">
                <div class="header m-2">
                  <strong class="primary-font m-3"><%= message.user.profile.username %></strong> <small class="pull-right text-muted">
                  <span class="float-right"><span class="fas fa-clock mr-1"></span><%= message.created_at.strftime('%a, %d %b %Y %H:%M ') %></small></span>
                </div>
                  <p class="m-1 px-5"><%= message.body %></p>
                </div>
                <hr>
            <% end %>
            <% end %>
          </div>
          <div class="panel-footer">
            <div class="form-group p-1 m-2">
              <%= simple_form_for [@group, @message] do |f| %>
              <div class="field">
                <%= f.text_area :body, placeholder: "Let's bet!", class: 'form-control', id:"btn-input" %>
              </div>
              <%= f.submit "Send", class: 'btn btn-warning btn-block mt-3', id: "btn-chat"  %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
</div>

