<h1><%= @group.name %></h1>
  <p>created by: <%= @group.user.profile.username %></p>
  <% if !@group.users.include?(current_user) && @group.user != current_user %>
  <%= link_to 'Join', group_path(@group) , method: :put , class: 'btn btn-primary' %>
  <% elsif @group.user != current_user %>
  <%= link_to 'Leave', group_path(@group), method: :delete, class: 'btn btn-danger' %>
  <% end %>
<h4><%= @group.description %></h4>
<h6>Members:</h6>
<% @group.users.each do |user| %>
<ul>
  <% if user.profile? %>
  <li><%= user.profile.username %></li>
  <% end %>
  <% end %>
</ul>
<%= link_to 'Back', groups_path, class: 'btn btn-primary' %>

