
<nav class="navbar navbar-expand navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "logo.png", class: "logo" %>
  <% end %>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item active">
          <%= link_to groups_path, class: "nav-link" do %>
            <i class="fas fa-users fa-lg"></i>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to dashboard_path, class: "nav-link" do %>
            <i class="fas fa-tachometer-alt fa-lg"></i>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to destroy_user_session_path, method: :delete, class: "nav-link" do %>
            <i class="fas fa-sign-out-alt fa-lg"></i>
          <% end %>
        </li>

      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>









