<div class="container w-25">
  <div class="card card-order w-200 mx-auto m-5">
    <h1 class="ml-4">Order #<%= @orders.where(bet: bet)[0].id %> <small><span class="badge badge-warning"><%= @orders.where(bet: bet)[0].state %></span></small></h1>
      <ul class="list-unstyled text-white ml-4">
        <li><strong>ISSUED ON:</strong> <%= @orders.where(bet: bet)[0].created_at.to_date %></li>
        <li><strong>TICKET:</strong> <%= @orders.where(bet: bet)[0].bet.numbers.join('-') %><%= @orders.where(bet: bet)[0].bet.stars.join('-') %></li>
        <li><strong>TOTAL:</strong> <%= humanized_money_with_symbol @orders.where(bet: bet)[0].amount %></li>
        </li>
      </ul>
      <p class='text-white ml-4'><strong>DRAWING DATE:</strong> <%= @draws.last.draw_date %></strong></p>
  </div>
</div>
